<h1>Cześć!</h1>
<p>
  Gratulacje, jeśli widzisz tą wiadomość znaczy, że ukończyłeś kurs MegaK z pozytywnym wynikiem. Pomożemy ci teraz w
  znalezieniu twojej pierwszej wymarzonej pracy. Niżej znajdziesz link do dokończenia rejestracji w naszej aplikacji
  łączącej kursantów i software house-y. Jeśli dokończysz rejestracje, rekruterzy z całej Polski będą mogli zaprosić cię
  na rozmowę.
</p>

<h3>Twoje wyniki z MegaK</h3>

<ul>
  <li>Ocena przejścia kursu - {{courseCompletion}}/5</li>
  <li>Ocena aktywności i zaangażowania na kursie - {{courseEngagement}}/5</li>
  <li>Ocena kodu w projekcie własnym - {{projectDegree}}/5</li>
  <li>Ocena pracy w zespole scrum - {{teamProjectDegree}}/5</li>
</ul>

<a href={{signupUrl}}><h2>Kliknij aby dokończyć rejestracje</h2></a>
<br>
<a href={{signupUrl}}>{{signupUrl}}</a>
